.container, .background_img, .main_info, .section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name, .id{
    display: inline;
    text-decoration: none;
    font-size: 2em;
}

.container{
    width: 100vw;
    margin-top: 100px;
    color: #ffffff;

    .section{
        flex-direction: column;
        margin: 100px 0;
        width: 85vw;
        background: #1a1a1a;
        border-radius: 150px;

        .main_info{
            margin-top: 50px;
            flex-direction: column;
            font: 25px 'Inter', 'Poppins', sans-serif;
            gap: 20px;

            .name{
                text-transform: capitalize;
            }

            .id{
                margin: 10px;
            }

            .types{
                font-size: 0.9em;
            }
        }

        .background_img{
            background: #fff;
            border-radius: 100%;
            justify-self: center;
            margin: 50px;
            width: calc((35vw + 35vh) / 2);
            height: calc((35vw + 35vh) / 2);

            .pokemon_img{
                width: calc((25vw + 25vh) / 2);
                height: calc((25vw + 25vh) / 2);
            }
        }
    }
}

@media(max-width: 700px){

    .main_info{
        .name, .id{
            font-size: 1.3em;
        }

        .types{
            font-size: 2em;
        }
    }
}