.container{
    width: 100vw;
    background: #000000;
    color: #ffffff;

    .section{
        width: 85vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        background: #1a1a1a;

        .background_img{
            background: #ffffff;
            border-radius: 100%;
            justify-self: center;
            width: calc((35vw + 35vh) / 2);
            height: calc((35vw + 35vh) / 2);

            .pokemon_img{
                width: calc((30vw + 30vh) / 2);
                height: calc((30vw + 30vh) / 2);
            }
        }

        .main_info{
            flex-direction: column;
            font: 25px 'Inter', 'Poppins', sans-serif;
            gap: 20px;

            .name{
                text-transform: uppercase;
            }

            .id{
                margin-left: 20px   ;
            }

            .types{
                font-size: 0.7em;
            }
        }
    }
}

.container, .background_img, .main_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name, .id{
    display: inline;
    text-decoration: none;
    font-size: 0.8em;
}