.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 10vh;
    margin: auto;
    top: 0;
    background: black;
}

.logo{
    height: 13vh;
}