.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100px;
    margin: auto;
    top: 0;
    background: #ffffff;

    .soon{
        height: 140px;
    }
}