.pokemons_div{
    width: 100vw;
    height: max-content;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.observer{
    width: 100vw;
    height: 100px;
    background: red;
}